# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\MewJ\Desktop\Study\2564-2\Image\Project\object-detection-bot-game\src\main\hsv_thresholding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
